# 1.0 Import

In [9]:
#Load and edit dataframe
import pandas as pd
import warnings 
warnings.filterwarnings( 'ignore' ) 

# Data Visualization
import matplotlib.pyplot as plt
%matplotlib inline

# Select Variables
from sklearn.feature_selection import SelectKBest

# ML - Algoritms
from sklearn.model_selection   import GridSearchCV
from sklearn.neural_network    import MLPRegressor
from sklearn.preprocessing     import MinMaxScaler
from sklearn                   import datasets, linear_model

# Metric
from sklearn.metrics           import mean_squared_error, r2_score

## Load DataSet

In [10]:
df = pd.read_csv('../data/b3_bovespa.csv')

# Select only one share to predict

In [11]:
# Filter share_data
df_itau = df[df['sigla_acao']=='ITUB4']

# Data transformation

In [12]:
df_itau['data_pregao'] = pd.to_datetime(df_itau['data_pregao'], format='%Y-%m-%d')

# Feature Engirennering

In [ ]:
df_itau['']

In [13]:
df_itau.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 744 entries, 197 to 360363
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   data_pregao       744 non-null    datetime64[ns]
 1   sigla_acao        744 non-null    object
 2   nome_acao         744 non-null    object
 3   preco_abertura    744 non-null    float64
 4   preco_maximo      744 non-null    float64
 5   preco_minimo      744 non-null    float64
 6   preco_fechamento  744 non-null    float64
 7   qtd_negocios      744 non-null    int64
 8   volume_negocios   744 non-null    int64
dtypes: datetime64[ns](1), float64(4), int64(2), object(2)
memory usage: 58.1+ KB

In [17]:
df_itau.head()

,data_pregao,sigla_acao,nome_acao,preco_abertura,preco_maximo,preco_minimo,preco_fechamento,qtd_negocios,volume_negocios
197,2019-01-02,ITUB4,ITAUUNIBANCO,35.44,37.14,35.35,37.00,25581700,9
553,2019-01-03,ITUB4,ITAUUNIBANCO,36.75,37.61,36.45,37.61,21938600,8
901,2019-01-04,ITUB4,ITAUUNIBANCO,37.22,37.71,36.75,36.98,24873500,9
1250,2019-01-07,ITUB4,ITAUUNIBANCO,36.80,37.50,36.75,37.05,16901100,6
1617,2019-01-08,ITUB4,ITAUUNIBANCO,37.18,37.57,36.56,37.52,19556300,7