# Imports

In [1]:
import pandas as pd

## Load files

In [3]:
cols_position = [(2,10),
            (10,12),
            (12,24),
            (27,39),
            (56,69),
            (69,82),
            (82,95),
            (108,121),
            (152,170),
            (170, 178)]

cols_name = ['data_pregao', 'codbdi', 'sigla_acao',
             'nome_acao', 'preco_abertura', 'preco_maximo',
             'preco_minimo', 'preco_fechamento', 'qtd_negocios',
             'volume_negocios']

df = pd.read_fwf('../COTAHIST_A2019.TXT', colspecs=cols_position, names=cols_name, skiprows=1)

In [4]:
# Filtering data to codbdi == 2 and drop column
df = df[df['codbdi']==2]
df = df.drop(['codbdi'], axis=1)

In [7]:
# Ajusta datetime
df['data_pregao'] = pd.to_datetime(df['data_pregao'], format='%Y%m%d')

# Ajuste Campo Numericos
df['qtd_negocios'] = df['qtd_negocios'].astype(int)
df['volume_negocios'] = df['volume_negocios'].astype(int)
df['preco_abertura'] = (df['preco_abertura']/100).astype(float)
df['preco_maximo'] = (df['preco_maximo']/100).astype(float)
df['preco_minimo'] = (df['preco_minimo']/100).astype(float)
df['preco_fechamento'] = (df['preco_fechamento']/100).astype(float)

In [9]:
df_itau = df[df['sigla_acao']=='ITUB4']

In [10]:
df_itau

,data_pregao,sigla_acao,nome_acao,preco_abertura,preco_maximo,preco_minimo,preco_fechamento,qtd_negocios,volume_negocios
197,2019-01-02,ITUB4,ITAUUNIBANCO,35.44,37.14,35.35,37.00,25581700,9
1106,2019-01-03,ITUB4,ITAUUNIBANCO,36.75,37.61,36.45,37.61,21938600,8
1969,2019-01-04,ITUB4,ITAUUNIBANCO,37.22,37.71,36.75,36.98,24873500,9
2824,2019-01-07,ITUB4,ITAUUNIBANCO,36.80,37.50,36.75,37.05,16901100,6
3749,2019-01-08,ITUB4,ITAUUNIBANCO,37.18,37.57,36.56,37.52,19556300,7
...,...,...,...,...,...,...,...,...,...
226725,2019-12-20,ITUB4,ITAUUNIBANCO,36.63,36.70,36.30,36.50,24863500,9
227758,2019-12-23,ITUB4,ITAUUNIBANCO,36.50,36.84,36.31,36.84,11691500,4
228799,2019-12-26,ITUB4,ITAUUNIBANCO,36.80,37.40,36.65,37.40,16333100,6
229852,2019-12-27,ITUB4,ITAUUNIBANCO,37.50,37.69,36.91,37.30,13455300,5
231049,2019-12-30,ITUB4,ITAUUNIBANCO,37.34,37.59,36.86,37.10,9225800,3